{% extends 'Wine/base.html' %}
<title>{% block title %} Wine And Dine {% endblock %}</title>
{%  block body %}
{#    <div class="scroll">#}
    <div class="container">
        <div class="row" style="display: flex; overflow-x: scroll ">
        {% for winery in all_wineries %}
                <div class="card">
                  <img src="../../static/winery/images/RubyHill.jpg">
                  <p class="card-text"> {{ winery.winery_name }}</p>
                </div>
        {% endfor %}
        </div>
    </div>
{#    </div>#}
{% endblock %}